@font-face {
  font-family: "Inkai Variable";
  font-style: normal;
  src: url("https://freight.cargo.site/m/F2463903275489634947238031735896/InkaiVF.woff") format("woff");
}
@font-face {
  font-family: "Atleigh";
  font-weight: 400;
  font-style: normal;
  src: url("https://freight.cargo.site/m/C2657159710200202142124215581784/Atleigh-Headline.woff2") format("woff2");
}
@font-face {
  font-family: "Drowsy";
  font-weight: 500;
  font-style: normal;
  src: url("https://freight.cargo.site/m/X2386125074910418307604082277464/Drowsy-Medium.woff") format("woff");
}
@font-face {
  font-family: "Speechless Variable";
  font-style: normal;
  src: url("https://freight.cargo.site/m/M2350784702946247318365442096216/SpeechlessVF.woff2") format("woff2");
}
@font-face {
  font-family: "Desire Variable";
  font-style: normal;
  src: url("https://freight.cargo.site/m/S2685761208248219192101525732440/Desire-VF.woff") format("woff");
}
@font-face {
  font-family: "Jess Jess Write Variable";
  font-style: normal;
  src: url("https://freight.cargo.site/m/N2350726380558039001603351198808/JessJessWriteVF.woff2") format("woff2");
}
@font-face {
  font-family: "Retour";
  font-weight: 400;
  font-style: normal;
  src: url("https://freight.cargo.site/m/N2350658101133888530489165429848/Retour-Regular_otf.woff2") format("woff2");
}
@font-face {
  font-family: "Field Gothic";
  font-weight: 400;
  font-style: normal;
  src: url("/assets/type/FieldGothicTEST-No.62.woff") format("woff");
}
@font-face {
  font-family: "Field Gothic";
  font-weight: 700;
  font-style: normal;
  src: url("/assets/type/FieldGothicTEST-No.55.woff") format("woff");
}
@font-face {
  font-family: "Infini";
  font-weight: 400;
  font-style: normal;
  src: url("/assets/type/infini-regular.woff") format("woff");
}
@font-face {
  font-family: "Infini";
  font-weight: 700;
  font-style: normal;
  src: url("/assets/type/infini-bold.woff") format("woff");
}
@font-face {
  font-family: "Neue DIN Variable";
  font-style: normal;
  src: url("/assets/type/FwTRIAL-NeueDINVAR.woff2") format("woff2");
}
@font-face {
    font-family: "Mendl Sans";
    font-weight: 400;
    font-style: Dusk;
    src: url("https://freight.cargo.site/m/D2680641049277061790549410004056/MendlSansTrial-DuskRegular.woff") format("woff");
  }
  @font-face {
    font-family: "G M S";
    font-weight: 600;
    font-style: normal;
    src: url("https://freight.cargo.site/m/X2680612735111328636726700883032/GMS-MendlSans-SemiBold.woff") format("woff");
  }
  @font-face {
    font-family: "Mendl Sans";
    font-weight: 600;
    font-style: Dawn;
    src: url("https://freight.cargo.site/m/A2681081325041226413680521067608/MendlSans-DawnSemiBold.woff") format("woff");
  }
@font-face {
    font-family: "Mendl Sans";
    font-weight: 600;
    font-style: Dusk;
    src: url("https://freight.cargo.site/m/N2681081331331566142815478168664/MendlSans-DuskSemiBold.woff") format("woff");
  }


body {
    background-color: #000000; 
    font-family: Inkai Variable;
    color: #e0e0e0;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    font-size: 12px;
}


html {
    scroll-behavior: smooth;
}

.head{
	position: absolute; 
    top: 90vh; 
    transform: translateY(-100%); 
    z-index: 2;
    width: 100%;
}

.dynamic-text {
    font-family: Inkai Variable;
    line-height: 120%;
    text-align: left;
    margin-top: 1rem;
    font-style: normal;
}

.slideshow-container {
    overflow: hidden;
}

.slideshow-image {
    width: auto; 
    height: 100%;
    object-fit: cover;
}

.slideshow-wrapper {
    display: flex; 
    height: 100%;
    width: max-content; 
}

.no-scrollbar::-webkit-scrollbar { display: none; }
.no-scrollbar { -ms-overflow-style: none; scrollbar-width: none; }

.active-toc-link {
    opacity: 1 !important; 
    background: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='12' height='3' viewBox='0 0 12 3'%3E%3Cpath d='M0,3 C3,3 3,0 6,0 C9,0 9,3 12,3' fill='none' stroke='white' stroke-width='1.5'/%3E%3C/svg%3E") repeat-x bottom left;
    
    background-size: 12px 3px;
    padding-bottom: 2px; 
    animation: moveWave 1s linear infinite;
}

@keyframes moveWave {
    from { background-position-x: 0px; }
    to { background-position-x: 12px; }
}


.toc-link {
    opacity: 0.7;
    text-decoration: none;
    transition: opacity 0.3s ease;
    display: inline-block;
}

.toc-link:hover {
    opacity: 1;
    color: #D35B39;
}

