@font-face {
  font-family: "Inkai Variable";
  font-style: normal;
  src: url("https://freight.cargo.site/m/F2463903275489634947238031735896/InkaiVF.woff") format("woff");
}
@font-face {
  font-family: "Atleigh";
  font-weight: 400;
  font-style: normal;
  src: url("https://freight.cargo.site/m/C2657159710200202142124215581784/Atleigh-Headline.woff2") format("woff2");
}
@font-face {
  font-family: "Drowsy";
  font-weight: 500;
  font-style: normal;
  src: url("https://freight.cargo.site/m/X2386125074910418307604082277464/Drowsy-Medium.woff") format("woff");
}
@font-face {
  font-family: "Speechless Variable";
  font-style: normal;
  src: url("https://freight.cargo.site/m/M2350784702946247318365442096216/SpeechlessVF.woff2") format("woff2");
}
@font-face {
  font-family: "Desire Variable";
  font-style: normal;
  src: url("https://freight.cargo.site/m/L2350763540749212238399280462936/Desire-VF.woff2") format("woff2");
}
@font-face {
  font-family: "Jess Jess Write Variable";
  font-style: normal;
  src: url("https://freight.cargo.site/m/N2350726380558039001603351198808/JessJessWriteVF.woff2") format("woff2");
}
@font-face {
  font-family: "Retour";
  font-weight: 400;
  font-style: normal;
  src: url("https://freight.cargo.site/m/N2350658101133888530489165429848/Retour-Regular_otf.woff2") format("woff2");
}


body {
    background-color: #000000; 
    font-family: Inkai Variable;
    color: #e0e0e0;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    font-size: 12px;
}



.head{
	position: absolute; 
    top: 90vh; 
    transform: translateY(-100%); 
    margin-left: 1rem;
    margin-right: 1rem;
    z-index: 2;
    width: 96%;
}

.dynamic-text {
    font-family: Inkai Variable;
    font-size: 9vw;
    line-height: 120%;
    text-align: left;
    column-span: all; 
    margin-top: 1rem;
	font-style: normal;
}

.slideshow-container {
    overflow: hidden;
}

.slideshow-image {
    width: auto; 
    height: 100%;
    object-fit: cover;
}

.slideshow-wrapper {
    display: flex; 
    height: 100%;
    width: max-content; 
}

.no-scrollbar::-webkit-scrollbar { display: none; }
.no-scrollbar { -ms-overflow-style: none; scrollbar-width: none; }